# <font color='blue'>Grupo de Estudo DataScience - Xerpa</font>

*** Este Jupyter Notebook tem por objetivo ser um material de referência para os participantes do grupo de estudo de Data Science da XERPA. Ele esta sendo executado em Python na versão 3.6; ***

## <font color='blue'> Índice:</font>

* [1. Fundamentos Python](#fundamentos_python)
    * [1.1. Operações Matemáticas](#op_matematicas)
    * [1.2. Conversões de Números](#conv_num)
    * [1.3. Funções Built-in](#func_builtin)
    * [1.4. Variáveis e Operadores](#var_ope)
    * [1.5. Strings](#strings)
    * [1.6. Listas](#listas)
    * [1.7. Dicionários](#dicionarios)
    * [1.8. Tuplas](#tuplas)
    * [1.9. Resumo](#resumo)
    * [1.10. Exercícios](#exercicios)
* [2. Funções, Condições, Módulos e Pacotes](#func_condicoes)
    * [2.1. If - Elif - Else](#ifelse)
    * [2.2. Loop For](#loopfor)
    * [2.3. Loop While](#loopwhile)
    * [2.4. Range](#range)
    * [2.5. Métodos](#metodos)
    * [2.6. Funções](#funcoes)
    * [2.7. Lambda](#lambda)
    * [2.8. Exercícios](#exerc_2)
    
* [3. Numpy e Pandas](#numpy_pandas)
* [4. EDA - Exploration Data Analysis](#eda)
* [5. Modelos de Machine Learning](#ml)
* [6. Desafio Kaggle](#kaggle)

<h2><a id="fundamentos_python" class="anchor">1 - Fundamentos Python</a></h2>

In [17]:
print('Hello World')

Hello World

In [18]:
# Comentários:
# Está linha não será processada

<h3><a id="op_matematicas" class="anchor">1.1 - Operações Matemáticas</a></h3>

In [19]:
4 + 4

8

In [22]:
# Operações Inteiros
print('Soma: 4 + 4 = ' + str(4 + 4))
print('Subtração: 4 - 3 = ' + str(4 - 3))
print('Multiplicação: 3 * 2 = ' + str(3 * 2))
print('Divisão: 8 / 2 = ' + str(8 / 2))
print('Potência: 3 ** 2 = ' + str(3 ** 2))
print('Módulo ou Resto: 10 % 3 = ' + str(10 % 3))

print('\n') #Pular uma linha nos resultados

# Operações com Float
print(3.1 + 6.4)
print(4 + 4.0)
print('Resultado é um número float: ' + str(4 / 3))
print('Resultado é um número inteiro: ' + str(4 // 3))

Soma: 4 + 4 = 8
Subtração: 4 - 3 = 1
Multiplicação: 3 * 2 = 6
Divisão: 8 / 2 = 4.0
Potência: 3 ** 2 = 9
Módulo ou Resto: 10 % 3 = 1


9.5
8.0
Resultado é um número float: 1.3333333333333333
Resultado é um número inteiro: 1
o resultado é =:1

<h3><a id="conv_num" class="anchor">1.2 - Conversões de tipos numéricos</a></h3>

In [4]:
# para float
float(9)

9.0

In [5]:
# para inteiro
int(6.9)

6

In [6]:
# para Hexadecimal
hex(296)

'0x128'

In [7]:
# para binário
bin(296)

'0b100101000'

<h3><a id="func_builtin" class="anchor">1.3 - Funções Built-in</a></h3>

In [8]:
# Retorna o valor absoluto
abs(-8)

8

In [9]:
# Retorna o valor absoluto
abs(8)

8

In [23]:
# Retorna o valor com arredondamento
round(3.14951922,2)

3.15

In [27]:
# Potência
print('valor da potência é:' + str(pow(4,2)))

valor da potência é:16

<h3><a id="var_ope" class="anchor">1.4 - Variáveis e Operadores</a></h3>

In [39]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [30]:
# Imprimindo o valor da variável
print(var_teste)

2

In [33]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
my_var

2

In [40]:
# Tipo de variáveil
type(var_teste)

int

In [16]:
var_teste = 9.5

In [17]:
type(var_teste)

float

In [45]:
# Declaração Múltipla
fruta1, fruta2, fruta3 = "Maça", "Banana", "Laranja"

In [50]:
print(fruta1)
print(fruta2)
print(fruta3)

Maça
Banana
Laranja

12

In [51]:
fruta1 = fruta2 = fruta3 = "Uva"

In [53]:
print(fruta1)
print(fruta2)
print(fruta3)

Uva
Uva
Uva

In [56]:
# Python é case sensitive, ou seja fruta1 != Fruta1
print(Fruta1)

NameError: name 'Fruta1' is not defined

In [58]:
# Convenção de criação de variáveis:

# Pode-se usar letras, números e underline para crianção de variáveis, porém o nome da variávei NÃO PODE 
# COMEÇAR COM NÚMERO

x1 = 10

In [59]:
1x = 10

SyntaxError: invalid syntax (<ipython-input-59-d6bc7cef26a6>, line 1)

In [25]:
# Não é possível utilizar palavras reservadas como nome de variável:

# lista das palavras reservadas:
# False, class, finally, is, return, None, continue, for, lambda, try, True, def, from, nonlocal, while, and,
# del, global, not, with, as, elif, if, or, yield, assert, else, import, pass, break, except, in, raise

In [61]:
continue = 1

SyntaxError: invalid syntax (<ipython-input-61-cf9868e53e5b>, line 1)

### Variáveis atribuídas a outras variáveis e ordem dos operadores

In [62]:
largura = 2
altura = 4

In [66]:
area = largura * altura

In [64]:
print(area)

8

In [67]:
perimetro = 2 * largura + 2 * altura
print(perimetro)

12

In [31]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 + (largura + 2)  * altura
perimetro

32

### Concatenação de Variáveis

In [68]:
nome = "Guido"
sobrenome = "von Rossum"

In [69]:
fullName = nome + " " + sobrenome
print(fullName)

Guido von Rossum

<h3><a id="strings" class="anchor">1.5 - Strings</a></h3>

In [34]:
"String é um tipo de dado constituído por caracteres;"

'String é um tipo de dado constituído por caracteres;'

In [35]:
'Em python strings podem ser criadas usando aspas duplas ou simples'

'Em python strings podem ser criadas usando aspas duplas ou simples'

In [36]:
'Vocẽ pode combinar aspas "simples" e "duplas"'

'Vocẽ pode combinar aspas "simples" e "duplas"'

In [37]:
type("este é o código para o tipo de dados string em python")

str

In [38]:
print("Mesmo se um caracter númerico estiver dentro de aspas ele será considerado string")
print(type("10"))
print(type(10))

Mesmo se um caracter númerico estiver dentro de aspas ele será considerado string
<class 'str'>
<class 'int'>

In [39]:
print(" Usamos os caracteres \n dentro de uma string: \n para quebrar as linhas")

 Usamos os caracteres
 dentro de uma string:
 para quebrar as linhas

In [71]:
# Podemos atribuir strings a variáveis:
var_string = "Este é um exemplo de string:"
print(var_string)

Este é um exemplo de string:

### Indexação de strings

In [72]:
print(var_string)

Este é um exemplo de string:

In [73]:
var_string[2]

't'

In [43]:
var_string[5]

'é'

In [76]:
# Podemos utilizar o : para realizar o slice em uma string:
print(var_string[:2])
print(var_string[:5])
print(var_string[:6])
print(var_string[:])
print(var_string[5:20])
print(var_string[5:])
print(var_string[-1])
print(var_string[-2])
print(var_string[:-1])
print(var_string[::2])
print(var_string[::-1])

Es
Este
Este é
Este é um exemplo de string:
é um exemplo de
é um exemplo de string:
:
g
Este é um exemplo de string
Et  meepod tig
:gnirts ed olpmexe mu é etsE

### Propriedades de Strings

In [45]:
var_string[0] = 'e'

TypeError: 'str' object does not support item assignment

In [77]:
# Concatenando Strings:
print(var_string + ' Concatenação de um nova string.')
print(var_string)

Este é um exemplo de string: Concatenação de um nova string.
Este é um exemplo de string:

In [78]:
var_string = var_string + ' Concatenação de um nova string.'
print(var_string)

Este é um exemplo de string: Concatenação de um nova string.

In [48]:
# É possível multiplicar strings:
var_string * 3

'Este é um exemplo de string: Concatenação de um nova string.Este é um exemplo de string: Concatenação de um nova string.Este é um exemplo de string: Concatenação de um nova string.'

In [49]:
### Funções Built-in de Strings

In [50]:
var_string

'Este é um exemplo de string: Concatenação de um nova string.'

In [51]:
# Convertendo tudo para maíusculo;
var_string.upper()

'ESTE É UM EXEMPLO DE STRING: CONCATENAÇÃO DE UM NOVA STRING.'

In [52]:
# Convertendo tudo para minusculo;
var_string.lower()

'este é um exemplo de string: concatenação de um nova string.'

In [79]:
# Dividir uma string (padrão em branco)
var_string.split()

['Este',
 'é',
 'um',
 'exemplo',
 'de',
 'string:',
 'Concatenação',
 'de',
 'um',
 'nova',
 'string.']

In [80]:
x = 'inicio de texto em minúsculo.'
x.capitalize()

'Inicio de texto em minúsculo.'

In [81]:
x.count('tex')

1

In [56]:
x.find('c')

3

In [57]:
print(x.isalnum())
print(x.isalpha())
print(x.islower())
print(x.isspace())
print(x.endswith('o'))
print(x.partition('em'))

False
False
True
False
False
('inicio de texto ', 'em', ' minúsculo.')

In [58]:
# função help - Ajuda para entendimento da função;
help(x.partition)

Help on built-in function partition:

partition(...) method of builtins.str instance
    S.partition(sep) -> (head, sep, tail)

    Search for the separator sep in S, and return the part before it,
    the separator itself, and the part after it.  If the separator is not
    found, return S and two empty strings.

In [59]:
# Comparando Strings:
print("Python" == "R")
print("Python" == "Python")
print("Python" == "python")

fruta1 = 'banana'
fruta2 = 'maça'

print('\n')
print(fruta1 == fruta2)
print(fruta1 != fruta2)

False
True
False


False
True

<h3><a id="listas" class="anchor">1.6 - Listas</a></h3>

In [6]:
# Criando uma lista
lista_frutas = ["uva", "maça", "laranja", "abacaxi"]

lista_frutas1 = ["uva",'Paulo',1]

# Imprimindo a lista
print(lista_frutas)
print(lista_frutas1)

print(type(lista_frutas))
print(type(lista_frutas1))

['uva', 'maça', 'laranja', 'abacaxi']
['uva', 'Paulo', 1]
<class 'list'>
<class 'list'>

In [4]:
# Index de listas
lista = [12, True, "Universidade", (1,2,3)]

print('Listas suportam diferentes tipos de dados')
print(type(lista[0]))
print(type(lista[1]))
print(type(lista[2]))
print(type(lista[3]))
print('\n')

# Atribuindo cada valor da lista a uma variável.
item1 = lista[0]
item2 = lista[1]
item3 = lista[2]
item4 = lista[3]

# Imprimindo as variáveis
print(item1, item2, item3, item4)

Listas suportam diferentes tipos de dados
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'tuple'>


12 True Universidade (1, 2, 3)

In [7]:
# Atualizando uma lista
print(lista_frutas[2])

lista_frutas[2] = 'Banana'

print(lista_frutas[2])

laranja
Banana

In [90]:
# Eliminando itens das listas
del lista_frutas[2]

print(lista_frutas)

['uva', 'maça', 'abacaxi']

### Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [8]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3], ['banana', 'maça']]
print(type(listas))
print(type(listas[0]))
print(type(listas[0][1]))

<class 'list'>
<class 'list'>
<class 'int'>

### Concatenando listas

In [94]:
lista_s1 = [34, 32, 56]
lista_s2 = [21, 90, 51]

In [95]:
# Concatenando listas
lista_s3 = lista_s1 + lista_s2
print(lista_s3)

[34, 32, 56, 21, 90, 51]

In [96]:
#Operador in

# Verificando se o valor 32 pertence a lista
print(32 in lista_s3)
print(31 in lista_s3)

True
False

In [99]:
# Funções Built-in
#print(len(lista_s3))
#max(lista_s3)
min(lista_s3)

21

In [9]:
#Adicionar um item a uma lista
lista_nomes = ['João', 'Maria', 'José']
print(lista_nomes)
lista_nomes.append('Ana')
lista_nomes.append('Ana')
print(lista_nomes)
print(lista_nomes.count("João"))

['João', 'Maria', 'José']
['João', 'Maria', 'José', 'Ana', 'Ana']
1

In [50]:
# Ampliando uma lista:
lista_nomes.extend(['Marcos','Marcela'])
print(lista_nomes)

print(lista_nomes.index('Marcos'))

['João', 'Maria', 'José', 'Ana', 'Ana', 'Marcos', 'Marcela']
5

In [52]:
lista_nomes.insert(2,'Larissa')
print(lista_nomes)

['João', 'Maria', 'Larissa', 'José', 'Ana', 'Ana', 'Marcos', 'Marcela']

In [60]:
# Inverter a lista
lista_nomes.reverse()
print(lista_nomes)

['Marcela', 'Marcos', 'Ana', 'Ana', 'José', 'Larissa', 'Maria', 'João']

In [104]:
# Ordenação da lista
lista_nomes.sort(reverse=True)
print(lista_nomes)

['Maria', 'João', 'José', 'Ana', 'Ana']

<h3><a id="dicionarios" class="anchor">1.7 - Dicionários</a></h3>

In [66]:
# Lista
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]  
print(estudantes_lst)

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [10]:
# Dicionário
estudantes_dict = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
print(estudantes_dict)

{'Mateus': 30, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [68]:
# Index de dicionários
estudantes_dict["Mateus"]

24

In [71]:
# Criando um novo item em dicionários
estudantes_dict["Pedro"] = 23
print(estudantes_dict)

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 23}

In [11]:
# Limpando o dicionários
dic2 = {}
estudantes_dict.clear()
estudantes_dict

{}

In [12]:
# Eliminando um dicionários
del estudantes_dict

In [13]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [76]:
# Número de itens de um dicionários
estudantes = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
len(estudantes)

4

In [80]:
print(estudantes.keys()) # Chaves
print(estudantes.values()) # Valores
print(estudantes.items()) # Itens

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])
dict_values([24, 22, 26, 25])
dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [81]:
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}
estudantes.update(estudantes2)
print(estudantes.items())

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25), ('Maria', 27), ('Erika', 28), ('Milton', 26)])

In [15]:
# Criando um dicionários em branco:
dict1 = {}
dict1['Chave1'] = 100
print(dict1)

{'Chave1': 100}

In [17]:
dict1[10] = 5
dict1[8.2] = "Python"
dict1[True] = True
dict1
print(dict1[8.2])

Python

In [85]:
# Atribuição de itens do dicionário
a = estudantes['Mateus']
b = estudantes['Fernanda']
c = estudantes['Tamires']

print(a)
print(b)
print(c)

24
22
26

In [22]:
# Dicionário de listas
dict3 = {'key1':1230,'key2':[22,453,73.4],'key3':['leite','maça','batata']}

In [23]:
dict3['key2']

[22, 453, 73.4]

In [27]:
# Acessando um item da lista, dentro do dicionário
dict3['key3'][0].upper()

'LEITE'

<h3><a id="tuplas" class="anchor">1.8 - Tuplas</a></h3>

In [29]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")
tupla1

('Geografia', 23, 'Elefantes')

In [30]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
# Tuplas não suportam delete de um item específico
del tupla1["Geografia"]

TypeError: 'tuple' object does not support item deletion

In [32]:
tupla1[0]

'Geografia'

In [33]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [39]:
lista1 = list(tupla1)
lista1.append('Gatos')
type(lista1)

list

In [38]:
tupla2 = tuple(lista1)
type(tupla2)

tuple

<h3><a id="resumo" class="anchor">1.9 - Resumo</a></h3>

## Lições Aprendidas
***

    * Python é case sentitive, portanto Variavel != variavel;
    * Por convenção não podemos criar variáveis iniciadas com números ou simbolos;
    * Não podemos também declarar variáveis com os nomes reservados - ex(continue, True, list);
    * Função help() ajudá a entender o funcionamento de uma função ou método;
    * Listas são objetos que podem armazenar diferente tipos de informações;
    * Dicionários são objetos que armazenam informações diferentes no formato Chave-Valor;
    * Tuplas armazem diferentes tipos de informações, porém são imutáveis;

<h3><a id="exercicios" class="anchor">1.10 - Exercícios</a></h3>

### Hora de praticar!!!!

Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [43]:
lista = [1,2,3,4,5,6,7,8,9,10]
print(1,2,3,4,5,6,7,8,9,10)

1 2 3 4 5 6 7 8 9 10

Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [44]:
lista = ['obj1','obj2','obj3','obj4','obj5']
lista

['obj1', 'obj2', 'obj3', 'obj4', 'obj5']

Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [47]:
string_1 = 'Sigam-me'
string_2 = 'os bons'
string_3 = string_1 + ' ' +string_2
print(string_3)

Sigam-me os bons

Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função 
count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

In [48]:
tupla_1 = (1,2,2,3,4,4,4,4,5)
tupla_1.count(4)

4

Exercício 5 - Crie um dicionário vazio e imprima na tela

In [50]:
dicionario_1 = {}

Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [52]:
dicionario_2 = {'cor1':'verde','cor2':'amarelo','cor3':'azul'}
print(dicionario_2)

{'cor1': 'verde', 'cor2': 'amarelo', 'cor3': 'azul'}

Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [55]:
dicionario_2['cor4'] = 'branca'
print(dicionario_2)

{'cor1': 'branca', 'cor2': 'amarelo', 'cor3': 'azul', 'cor4': 'branca'}

Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos imprima o dicionário na tela.

In [61]:
dicionario_3 = {'cor':'vermelho','idades':[21,22],'nome':'Maria'}
print(dicionario_3)

{'cor': 'vermelho', 'idades': [21, 22], 'nome': 'Maria'}

Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float.Imprima a lista na tela.

In [13]:
lista_4 = ['banana',('preto','branco'),{'nome':'Jorge','idade':'20'},3.1415]
print(lista_4)

['banana', ('preto', 'branco'), {'nome': 'Jorge', 'idade': '20'}, 3.1415]

Exercício 10 - Considere a string 'Luza Rocelina, a namorada do manuel, leu na moda da romana: Anil é cor azul'. 
<p>a) Imprima na tela apenas os caracteres da posição 1 a 24;</p>
<p>b) Imprima na tela apenas os caracteres da posição 26 em diante;</p>
<p>c) Imprima na tela apenas os caracteres nas posições impares da string;</p>
<p>d) Imprima na tela a string completa invertida;</p>
<p>e) Converta toda a string para maiúsculo.</p>

In [62]:
frase = 'Luza Rocelina, a namorada do Manuel, leu na moda da romana: Anil é cor azul'
print(frase[0:25])
print(frase[26:])
print(frase[::2])
print(frase[::-1])
print(frase.upper())

Luza Rocelina, a namorada
do Manuel, leu na moda da romana: Anil é cor azul
Lz oeia  aoaad aul e amd armn:Ai  o zl
luza roc é linA :anamor ad adom an uel ,leunaM od adaroman a ,anilecoR azuL
LUZA ROCELINA, A NAMORADA DO MANUEL, LEU NA MODA DA ROMANA: ANIL É COR AZUL

<h2><a id="func_condicoes" class="anchor">2 - Funções, Condições, Módulos e Pacotes</a></h2>

<h3><a id="ifelse" class="anchor">2.1 - If - Elif - Else</a></h3>

### Condicional If

In [64]:
# Condicional If
if 5 > 2:
    print("Python funciona!")

Python funciona!

In [67]:
# Statement If...Else
if 5 < 2:
   print("Python funciona!")
else:
   print("Algo está errado!")

Algo está errado!

In [71]:
# Operadores Booleanos
print(6 > 3)
print(3 > 7)
print(4 < 8)
print(4 >= 4)

True
False
True
True

In [69]:
if 5 == 5:
  print("Testando Python!")

Testando Python!

In [24]:
if True:
    print('Parece que Python funciona!')

Parece que Python funciona!

In [25]:
# Atenção com a sintaxe
if 4 > 3
  print("Tudo funciona!")

SyntaxError: invalid syntax (<ipython-input-25-20e8653bc258>, line 2)

In [29]:
# Atenção com a identação do código
if 4 > 3:
print("Tudo funciona!")

IndentationError: expected an indented block (<ipython-input-29-ca4652c2fd9b>, line 3)

### Condicionais Aninhados

In [2]:
idade = 18
if idade > 17:
   print("Você pode dirigir!")

Você pode dirigir!

In [33]:
Nome = "Bob"
if idade >= 13:
    if Nome == "Bob":
       print("Ok Bob, você está autorizado a entrar!")
    else:
       print("Desculpe, mas você não pode entrar!")

Ok Bob, você está autorizado a entrar!

In [4]:
idade = 9
Nome = "Bob"
if idade >= 13 and Nome == "Bob":
    print("Ok Bob, você está autorizado a entrar!")
else:
    print('Não autorizado')

Não autorizado

In [5]:
idade = 12
Nome = "Bob"
if (idade >= 13) or (Nome == "Bob"):
    print("Ok Bob, você está autorizado a entrar!")

Ok Bob, você está autorizado a entrar!

### Elif

In [36]:
dia = "Terça"
if dia == "Segunda":
  print("Hoje fará sol!")
else:
  print("Hoje vai chover!")

Hoje vai chover!

In [37]:
if dia == "Segunda":
  print("Hoje fará sol!")
elif dia == "Terça":
  print("Hoje vai chover!")
elif dia == "Quarta":
  print('Hoje vai chover')
else:
  print("Sem previsão do tempo para o dia selecionado")

Hoje vai chover!

In [38]:
idade = 18
nome = "Bob"
if idade > 17:
   print("Você pode dirigir!")

Você pode dirigir!

In [39]:
idade = 18
if idade > 17 and nome != "Bob":
   print("Autorizado!")

Autorizado!

In [7]:
# Usando mais de uma condição na cláusula if 

disciplina = input('Digite o nome da disciplina: ')
nota_final = input('Digite a nota final (entre 0 e 100): ')

if disciplina == 'Geografia' and nota_final >= '70':
    print('Você foi aprovado!')
else:
    print('Lamento, acho que você precisa estudar mais!')

Digite o nome da disciplina: Geografia
Digite a nota final (entre 0 e 100): 50
Lamento, acho que você precisa estudar mais!

In [8]:
# Usando mais de uma condição na cláusula if e introduzindo Placeholders

disciplina = input('Digite o nome da disciplina: ')
nota_final = input('Digite a nota final (entre 0 e 100): ')
semestre = input('Digite o semestre (1 a 4): ')

if disciplina == 'Geografia' and nota_final >= '50' and int(semestre) != 1:
    print('Você foi aprovado em %s com média final %r!' %(disciplina, nota_final))
else:
    print('Lamento, acho que você precisa estudar mais!')

Digite o nome da disciplina: Geografia
Digite a nota final (entre 0 e 100): 70
Digite o semestre (1 a 4): 3
Você foi aprovado em Geografia com média final '70'!

<h3><a id="loopfor" class="anchor">2.2 - Loop For</a></h3>

In [13]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,3,4)

for numero in tp:
    print(numero)

2
3
4

In [14]:
# Criando uma lista e imprimindo cada um dos valores
ListaDoMercado = ["Leite", "Frutas", "Carne"]
for i in ListaDoMercado:
    print(i)

Leite
Frutas
Carne

In [17]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [26]:
# Imprimindo na tela os números pares da lista de números
lista = range(1,11)
for i in lista:
    if i % 2 == 0:
        print (i)

range

In [28]:
# Listando os números no intervalo entre 0 e 101, com incremento em 2
for i in range(1,101,3):  
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97
100

In [32]:
# Strings também são sequências
for caracter in 'Python é uma linguagem de programação divertida!':
    print (caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

d
i
v
e
r
t
i
d
a
!

In [37]:
# Loops aninhados
for i in range(0,3):
    for a in range(0,5):
        print('este é o valor de i: ' + str(i) + ' este é o valor de a: ' + str(a))

este é o valor de i: 0 este é o valor de a: 0
este é o valor de i: 0 este é o valor de a: 1
este é o valor de i: 0 este é o valor de a: 2
este é o valor de i: 0 este é o valor de a: 3
este é o valor de i: 0 este é o valor de a: 4
este é o valor de i: 1 este é o valor de a: 0
este é o valor de i: 1 este é o valor de a: 1
este é o valor de i: 1 este é o valor de a: 2
este é o valor de i: 1 este é o valor de a: 3
este é o valor de i: 1 este é o valor de a: 4
este é o valor de i: 2 este é o valor de a: 0
este é o valor de i: 2 este é o valor de a: 1
este é o valor de i: 2 este é o valor de a: 2
este é o valor de i: 2 este é o valor de a: 3
este é o valor de i: 2 este é o valor de a: 4

In [38]:
listaB = [32,53,85,10,15,17,19]

for i in listaB:
    for x in listaB:
        print(i + x)

64
85
117
42
47
49
51
85
106
138
63
68
70
72
117
138
170
95
100
102
104
42
63
95
20
25
27
29
47
68
100
25
30
32
34
49
70
102
27
32
34
36
51
72
104
29
34
36
38

In [52]:
# Operando os valores de uma lista com loop for
listaB = [32,53,85,10,15,17,19]


# Somar todos os itens da lista
soma = 0
for i in listaB:
    soma +=  i
print(soma)

# Somar o dobro dos itens da lista
soma = 0
for i in listaB:
    double_i = i * 2
    soma += double_i   
print(soma)

231
462

In [44]:
# Loops em lista de listas
listx=[]
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
for valor in listas:
    listx = listx + valor
    
print(listx)

[1, 2, 3, 10, 15, 14, 10.1, 8.7, 2.3]

In [45]:
# Contando os itens de uma lista
lista = [5,6,10,13,17]
count = 0
for item in lista:
    count += 1
    
print(count)

print(len(lista))

5
5

In [46]:
# Contando o número de colunas
lst = [[1,2,3],[3,4,5],[5,6,7]]
primeira_linha = lst[0]

count = 0
for column in primeira_linha:
    count += 1
    
print(count)

3

In [56]:
# Pesquisando em listas
listaC = [5, 6, 7, 10, 50]

# Loop através da lista
for item in listaC:
    if item == 5:
        print("Número encontrado na lista!")

Número encontrado na lista!

In [48]:
# Listando as chaves de um dicionário
dict = {'k1':'Python','k2':'R','k3':'Scala'}
for item in dict:
    print(item)

for item in dict.values():
    print(item)
    
for item in dict.keys():
    print(item)

k1
k2
k3
Python
R
Scala
k1
k2
k3

In [51]:
# Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário
for k in dict.items():
    print (k)

('k1', 'Python')
('k2', 'R')
('k3', 'Scala')

<h3><a id="loopwhile" class="anchor">2.3 - Loop While</a></h3>

In [72]:
# Usando o loop while para imprimir os valores de 0 a 9
counter = 0
while counter < 10:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [73]:
# Também é possível usar a claúsula else para encerrar o loop while
x = 0

while x < 10:
    print ('O valor de x nesta iteração é: ', x)
    print (' x ainda é menor que 10, somando 1 a x')
    x += 1
    
else:
    print ('Loop concluído!')

O valor de x nesta iteração é:  0
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  1
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  2
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  3
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  4
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  5
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  6
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  7
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  8
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteração é:  9
 x ainda é menor que 10, somando 1 a x
Loop concluído!

### Pass, Break, Continue

In [76]:
counter = 0
while counter < 100:
    if counter == 4:
        break
    else:
        pass
    print(counter)
    counter = counter + 1
    
counter = 0
while counter < 100:
    if counter == 4:
        break
    print(counter)
    counter = counter + 1

0
1
2
3
0
1
2
3

In [75]:
for verificador in "Python":
    if verificador == "h":
        continue
    print(verificador)

P
y
t
o
n

*** Devemos ter cuidado com o loop while pois caso ele não seja controlado corretamente, podemos causar dead lock em nossos scripts, e não queremos que isso aconteça. ***

<h3><a id="range" class="anchor">2.4 - Range</a></h3>

In [77]:
# Imprimindo números pares entre 50 e 101
for i in range(50, 101, 2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [78]:
for i in range(3, 6):
    print (i)

3
4
5

In [81]:
lista = ['Morango', 'Banana', 'Abacaxi', 'Uva']
lista_tamanho = len(lista)
for i in range(0, lista_tamanho):
    print(lista[i])

Morango
Banana
Abacaxi
Uva

In [82]:
# Tudo em Python é um objeto
type(range(0,3))

range

<h3><a id="metodos" class="anchor">2.5 - Métodos</a></h3>

In [83]:
# Criando uma lista
lst = [100, -2, 12, 65, 0]

In [84]:
# Usando um método do objeto lista
lst.append(10)

In [85]:
# Usando um método do objeto lista
lst.count(10)

1

In [86]:
# A função help() explica como utilizar cada método de um objeto
help(lst.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [87]:
# A função dir() mostra todos os métodos e atributos de um objeto
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

<h3><a id="funcoes" class="anchor">2.6 - Funções</a></h3>

In [88]:
# Definindo uma função
def primeiraFunc():
    print('Hello World')

In [89]:
primeiraFunc()

Hello World

In [90]:
# Definindo uma função com parâmetro
def primeiraFunc(nome):
    print('Hello %s' %(nome))

In [91]:
primeiraFunc('Aluno')

Hello Aluno

In [92]:
def funcLeitura():
    for i in range(0, 5):
        print("Número " + str(i))

In [93]:
funcLeitura()

Número 0
Número 1
Número 2
Número 3
Número 4

In [94]:
# Função para somar números
def addNum(firstnum, secondnum):
    print("Primeiro número: " + str(firstnum))
    print("Segundo número: " + str(secondnum))
    print("Soma: ", firstnum + secondnum)

In [95]:
# Chamando a função e passando parâmetros
addNum(45, 3)

Primeiro número: 45
Segundo número: 3
Soma:  48

### Variáveis locais e globais

In [100]:
# Variável Global
var_global = 10  # Esta é uma variável global

def multiply(num1, num2):
    var_local = num1 * num2  # Esta é uma variável local
    print(var_global)
    print(var_local)

In [101]:
multiply(5, 25)

10
125

In [102]:
print(var_local)

NameError: name 'var_local' is not defined

In [103]:
# Fazendo split dos dados
def split_string(text):
    return text.split(" ")

In [104]:
texto = "Esta função será bastante útil para separar grandes volumes de dados."

In [105]:
# Isso divide a string em uma lista.
print(split_string(texto))

['Esta', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [106]:
# Funções com número variável de argumentos
def printVarInfo( arg1, *vartuple ):
   # Imprimindo o valor do primeiro argumento
    print ("O parâmetro passado foi: ", arg1)
   
   # Imprimindo o valor do segundo argumento 
    for item in vartuple:
        print ("O parâmetro passado foi: ", item)
    return;

In [107]:
# Fazendo chamada à função usando apenas 1 argumento
printVarInfo(10)

O parâmetro passado foi:  10

In [16]:
printVarInfo('Chocolate', 'Morango', 'Banana')

O parâmetro passado foi:  Chocolate
O parâmetro passado foi:  Morango
O parâmetro passado foi:  Banana

In [109]:
printVarInfo(10,'teste', 'texto', 298, True, False)

O parâmetro passado foi:  10
O parâmetro passado foi:  teste
O parâmetro passado foi:  texto
O parâmetro passado foi:  298
O parâmetro passado foi:  True
O parâmetro passado foi:  False

<h3><a id="lambda" class="anchor">2.7 - Lambda</a></h3>

In [110]:
# Definindo uma função - 3 linhas de código
def potencia(num):
    result = num**2
    return result

potencia(5)

25

In [111]:
# Definindo uma função - 2 linhas de código
def potencia(num):
    return num**2

potencia(5)

25

In [112]:
# Definindo uma função - 1 linha de código
def potencia(num): return num**2
potencia(5)

25

In [113]:
# Definindo uma expressão lambda
potencia = lambda num: num**2
potencia(5)

25

In [114]:
# Lembre: operadores de comparação retornam boolean, true or false
Par = lambda x: x%2==0
Par(3)

False

In [115]:
Par(4)

True

In [116]:
first = lambda s: s[0]

In [117]:
first('Python')

'P'

In [118]:
reverso = lambda s: s[::-1]

In [119]:
reverso('Python')

'nohtyP'

In [120]:
addNum = lambda x,y : x+y

In [121]:
addNum(2,3)

5

<h3><a id="exerc_2" class="anchor">2.8 - Exercícios</a></h3>

Exercício 1 - Crie uma estrutura que pergunte ao usuário qual o dia da semana. Se o dia for igual a Domingo ou 
igual a sábado, imprima na tela "Hoje é dia de descanso", caso contrário imprima na tela "Você precisa trabalhar!"

In [4]:
week_day = input('Qual é o dia da semana? ')
if week_day.lower() == 'domingo' or week_day.lower() == 'sábado':
    print('Hoje é dia de descanso')
else:
    print('Você precisa trabalhar!')

Qual é o dia da semana? Sábado
Hoje é dia de descanso

Exercício 2 - Crie uma lista de 5 frutas e verifique se a fruta 'Morango' faz parte da lista

In [9]:
fruit_list = ['banana', 'maçã', 'morango', 'pêra', 'abacaxi']
for f in fruit_list:
    if(f.lower() == 'morango'):
        print('A fruta morango faz parte!')

A fruta morango faz parte!

Exercício 3 - Crie uma tupla de 4 elementos, multiplique cada elemento da tupla por 2 e guarde os resultados em uma lista

In [18]:
tuple_4 = (1, 2, 3, 4)
list_4_x = []

for n in tuple_4:
    list_4_x.append(n * 2)

print(list_4_x)

[2, 4, 6, 8]

Exercício 4 - Crie uma sequência de números pares entre 100 e 150 e imprima na tela

In [22]:
even_list = []
for n in range(100, 151):
    if n % 2 == 0:
        even_list.append(n)

print(even_list)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

Exercício 5 - Crie uma variável chamada temperatura e atribua o valor 40. Enquanto temperatura for maior que 35, imprima as temperaturas na tela

In [ ]:
temperatura = 40
if temperatura > 35:
    print(temperatura)

Exercício 6 - Crie uma variável chamada contador = 0. Enquanto counter for menor que 100, imprima os valores na tela, mas quando for encontrado o valor 23, interrompa a execução do programa

In [ ]:
contador = 0
while contador < 100:
    if contador == 23:
        break
    print(str(contador) + ' ', end='')
    contador += 1

Exercício 7 - Crie uma lista vazia e uma variável com valor 4. Enquanto o valor da variável for menor ou igual a 20, adicione à lista, apenas os valores pares e imprima a lista

In [2]:
empty_list, var4 = [], 4
while var4 <= 20:
    if var4 % 2 == 0:
        empty_list.append(var4)
    var4 += 1
print(empty_list)

[4, 6, 8, 10, 12, 14, 16, 18, 20]

Exercício 8 - Transforme o resultado desta função range em uma lista: range(5, 45, 2)

In [14]:
nums, list_from_range = range(5, 45, 2), []
for n in nums:
    list_from_range.append(n)
print(list_from_range)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

Exercício 9 - Faça a correção dos erros no código abaixo e execute o programa. Dica: são 3 erros.

In [18]:
temperatura = float(input('Qual a temperatura? '))
if temperatura > 30:
    print('Vista roupas leves.')
else:
    print('Busque seus casacos.')

Qual a temperatura? 31
Vista roupas leves.

Exercício 10 - Faça um programa que conte quantas vezes a letra "r" aparece na frase abaixo. Use um placeholder na 
sua instrução de impressão

“É melhor, muito melhor, contentar-se com a realidade; se ela não é tão brilhante como os sonhos, tem pelo menos a 
vantagem de existir.” (Machado de Assis)

In [27]:
frase = "É melhor, muito melhor, contentar-se com a realidade; se ela não é tão brilhante como os sonhos, tem pelo menos a vantagem de existir." 
count_r = 0
for c in frase:
    if c == 'r':
        count_r += 1

print("A letra 'r' aparece %s vezes" %count_r)

A letra 'r' aparece 6 vezes

Exerício 11 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e depois faça uma chamada à função para listar os números

In [33]:
def even_1_to_20():
    for n in range(1, 21):
        print(n, end='')

even_1_to_20()

1234567891011121314151617181920

Exerício 12 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
Faça uma chamada à função, passando como parâmetro uma string

In [34]:
def toUpper(string):
    return string.upper()

toUpper('felipe')

'FELIPE'

Exerício 13 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
imprima a lista

In [35]:
def add2(list_4):
    list_4.append(5)
    list_4.append(6)
    print(list_4)

add2([1, 2, 3, 4])

[1, 2, 3, 4, 5, 6]

Exerício 14 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
à função, com apenas 1 elemento e na segunda chamada com 4 elementos

In [40]:
def maybeMany(arg, *listE):
    print('arg %s' %arg)
    for e in listE:
        print(e, end='')
    
maybeMany(1)
maybeMany(1, '2', [], ())

arg 1
arg 1
2[]()

Exerício 15 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 
números como parâmetro e retornar a soma deles

In [44]:
total = 0

soma = lambda arg1, arg2: arg1 + arg2
print ("Dentro da função o total é: ", soma(1, 2))
print ("Fora da função o total é: ", total)

Dentro da função o total é:  3
Fora da função o total é:  0

Exerício 16 - # Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius
* Crie uma função anônima que converta cada temperatura para Fahrenheit
* Dica: para conseguir realizar este exercício, você deve criar sua função lambda, dentro de uma função 
* (que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista
*  Como descobrir a fórmula matemática que converte de Celsius para Fahrenheit? Pesquise!!!

In [49]:
celsiusToFahrenheit = lambda c: (c * 9/5) + 32
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(celsiusToFahrenheit, Celsius)
print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

Exerício 17 - Crie um dicionário e liste todos os métodos e atributos do dicionário

In [50]:
dic = {}
help(dic)

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

<h2><a id="numpy_pandas" class="anchor">3 - Numpy e Pandas</a></h2>

<h2><a id="eda" class="anchor">4 - EDA - Exploration Data Analysis</a></h2>

<h2><a id="ml" class="anchor">5 - Modelos de Machine Learning</a></h2>

<h2><a id="kaggle" class="anchor">6 - Desafio Kaggle</a></h2>