# <font color='blue'>Grupo de Estudo DataScience - Xerpa</font>

*** Este Jupyter Notebook tem por objetivo ser um material de referência para os participantes do grupo de estudo de Data Science da XERPA. Ele esta sendo executado em Python na versão 3.6; ***

## <font color='blue'> Índice:</font>

* [1. Fundamentos Python](#fundamentos_python)
    * [1.1. Operações Matemáticas](#op_matematicas)
    * [1.2. Conversões de Números](#conv_num)
    * [1.3. Funções Built-in](#func_builtin)
    * [1.4. Variáveis e Operadores](#var_ope)
    * [1.5. Strings](#strings)
    * [1.6. Listas](#listas)
    * [1.7. Dicionários](#dicionarios)
    * [1.8. Tuplas](#tuplas)
    * [1.9. Exercícios](#exercicios)
* [2. Funções, Condições, Módulos e Pacotes](#func_condicoes)
* [3. Numpy e Pandas](#numpy_pandas)
* [4. EDA - Exploration Data Analysis](#eda)
* [5. Modelos de Machine Learning](#ml)
* [6. Desafio Kaggle](#kaggle)

<h2><a id="fundamentos_python" class="anchor">1 - Fundamentos Python</a></h2>

In [1]:
print('Hello World')

Hello World

In [2]:
# Comentários:
# Está linha não será processada

<h3><a id="op_matematicas" class="anchor">1.1 - Operações Matemáticas</a></h3>

In [3]:
4 + 4

8

In [91]:
# Operações Inteiros
print('Soma: 4 + 4 = ' + str(4 + 4))
print('Subtração: 4 - 3 = ' + str(4 - 3))
print('Multiplicação: 3 * 2 = ' + str(3 * 2))
print('Divisão: 8 / 2 = ' + str(8 / 2))
print('Potência: 3 ** 2 = ' + str(3 ** 2))
print('Módulo ou Resto: 10 % 3 = ' + str(10 % 3))

print('\n') #Pular uma linha nos resultados

# Operações com Float
print(3.1 + 6.4)
print(4 + 4.0)
print('Resultado é um número float: ' + str(4 / 3))
print('Resultado é um número inteiro: ' + str(4 // 3))

Soma: 4 + 4 = 8
Subtração: 4 - 3 = 1
Multiplicação: 3 * 2 = 6
Divisão: 8 / 2 = 4.0
Potência: 3 ** 2 = 9
Módulo ou Resto: 10 % 3 = 1


9.5
8.0
Resultado é um número float: 1.3333333333333333
Resultado é um número inteiro: 1
1.3333333333333333
1.0

<h3><a id="conv_num" class="anchor">1.2 - Conversões de tipos numéricos</a></h3>

In [4]:
# para float
float(9)

9.0

In [5]:
# para inteiro
int(6.9)

6

In [6]:
# para Hexadecimal
hex(296)

'0x128'

In [7]:
# para binário
bin(296)

'0b100101000'

<h3><a id="func_builtin" class="anchor">1.3 - Funções Built-in</a></h3>

In [8]:
# Retorna o valor absoluto
abs(-8)

8

In [9]:
# Retorna o valor absoluto
abs(8)

8

In [10]:
# Retorna o valor com arredondamento
round(3.14151922,2)

3.14

In [1]:
# Potência
pow(4,2)

16

<h3><a id="var_ope" class="anchor">1.4 - Variáveis e Operadores</a></h3>

In [3]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [4]:
# Imprimindo o valor da variável
print(var_teste)

1

In [5]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [15]:
# Tipo de variáveil
type(var_teste)

int

In [16]:
var_teste = 9.5

In [17]:
type(var_teste)

float

In [18]:
# Declaração Múltipla
fruta1, fruta2, fruta3 = "Maça", "Banana", "Laranga"

In [19]:
print(fruta1)
print(fruta2)
print(fruta3)

Maça
Banana
Laranga

In [20]:
fruta1 = fruta2 = fruta3 = "Uva"

In [21]:
print(fruta1)
print(fruta2)
print(fruta3)

Uva
Uva
Uva

In [22]:
# Python é case sensitive, ou seja fruta1 != Fruta1
print(Fruta1)

NameError: name 'Fruta1' is not defined

In [23]:
# Convenção de criação de variáveis:

# Pode-se usar letras, números e underline para crianção de variáveis, porém o nome da variávei NÃO PODE 
# COMEÇAR COM NÚMERO

x1 = 10

In [24]:
1x = 10

SyntaxError: invalid syntax (<ipython-input-24-d6bc7cef26a6>, line 1)

In [25]:
# Não é possível utilizar palavras reservadas como nome de variável:

# lista das palavras reservadas:
# False, class, finally, is, return, None, continue, for, lambda, try, True, def, from, nonlocal, while, and,
# del, global, not, with, as, elif, if, or, yield, assert, else, import, pass, break, except, in, raise

In [26]:
continue = 1

SyntaxError: invalid syntax (<ipython-input-26-cf9868e53e5b>, line 1)

### Variáveis atribuídas a outras variáveis e ordem dos operadores

In [27]:
largura = 2
altura = 4

In [28]:
area = largura * altura

In [29]:
print(area)

8

In [30]:
perimetro = 2 * largura + 2 * altura
print(perimetro)

12

In [31]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura
perimetro

32

### Concatenação de Variáveis

In [32]:
nome = "Guido"
sobrenome = "von Rossum"

In [33]:
fullName = nome + " " + sobrenome
print(fullName)

Guido von Rossum

<h3><a id="strings" class="anchor">1.5 - Strings</a></h3>

In [34]:
"String é um tipo de dado constituído por caracteres;"

'String é um tipo de dado constituído por caracteres;'

In [35]:
'Em python strings podem ser criadas usando aspas duplas ou simples'

'Em python strings podem ser criadas usando aspas duplas ou simples'

In [36]:
'Vocẽ pode combinar aspas "simples" e "duplas"'

'Vocẽ pode combinar aspas "simples" e "duplas"'

In [37]:
type("este é o código para o tipo de dados string em python")

str

In [38]:
print("Mesmo se um caracter númerico estiver dentro de aspas ele será considerado string")
print(type("10"))
print(type(10))

Mesmo se um caracter númerico estiver dentro de aspas ele será considerado string
<class 'str'>
<class 'int'>

In [39]:
print(" Usamos os caracteres \n dentro de uma string: \n para quebrar as linhas")

 Usamos os caracteres
 dentro de uma string:
 para quebrar as linhas

In [40]:
# Podemos atribuir strings a variáveis:
var_string = "Este é um exemplo de string:"
print(var_string)

Este é um exemplo de string:

### Indexação de strings

In [41]:
print(var_string)

Este é um exemplo de string:

In [42]:
var_string[0]

'E'

In [43]:
var_string[5]

'é'

In [44]:
# Podemos utilizar o : para realizar o slice em uma string:
print(var_string[:2])
print(var_string[:5])
print(var_string[:6])
print(var_string[:])
print(var_string[5:20])
print(var_string[5:])
print(var_string[-1])
print(var_string[-2])
print(var_string[:-1])
print(var_string[::2])
print(var_string[::-1])

Es
Este
Este é
Este é um exemplo de string:
é um exemplo de
é um exemplo de string:
:
g
Este é um exemplo de string
Et  meepod tig
:gnirts ed olpmexe mu é etsE

### Propriedades de Strings

In [45]:
var_string[0] = 'e'

TypeError: 'str' object does not support item assignment

In [46]:
# Concatenando Strings:
print(var_string + ' Concatenação de um nova string.')
print(var_string)

Este é um exemplo de string: Concatenação de um nova string.
Este é um exemplo de string:

In [47]:
var_string = var_string + ' Concatenação de um nova string.'
print(var_string)

Este é um exemplo de string: Concatenação de um nova string.

In [48]:
# É possível multiplicar strings:
var_string * 3

'Este é um exemplo de string: Concatenação de um nova string.Este é um exemplo de string: Concatenação de um nova string.Este é um exemplo de string: Concatenação de um nova string.'

In [49]:
### Funões Built-in de Strings

In [50]:
var_string

'Este é um exemplo de string: Concatenação de um nova string.'

In [51]:
# Convertendo tudo para maíusculo;
var_string.upper()

'ESTE É UM EXEMPLO DE STRING: CONCATENAÇÃO DE UM NOVA STRING.'

In [52]:
# Convertendo tudo para minusculo;
var_string.lower()

'este é um exemplo de string: concatenação de um nova string.'

In [53]:
# Dividir uma string (padrão em branco)
var_string.split(':')

['Este é um exemplo de string', ' Concatenação de um nova string.']

In [54]:
x = 'inicio de texto em minúsculo.'
x.capitalize()

'Inicio de texto em minúsculo.'

In [55]:
x.count('i')

4

In [56]:
x.find('c')

3

In [57]:
print(x.isalnum())
print(x.isalpha())
print(x.islower())
print(x.isspace())
print(x.endswith('o'))
print(x.partition('em'))

False
False
True
False
False
('inicio de texto ', 'em', ' minúsculo.')

In [58]:
# função help - Ajuda para entendimento da função;
help(x.partition)

Help on built-in function partition:

partition(...) method of builtins.str instance
    S.partition(sep) -> (head, sep, tail)

    Search for the separator sep in S, and return the part before it,
    the separator itself, and the part after it.  If the separator is not
    found, return S and two empty strings.

In [59]:
# Comparando Strings:
print("Python" == "R")
print("Python" == "Python")
print("Python" == "python")

fruta1 = 'banana'
fruta2 = 'maça'

print('\n')
print(fruta1 == fruta2)
print(fruta1 != fruta2)

False
True
False


False
True

<h3><a id="listas" class="anchor">1.6 - Listas</a></h3>

In [22]:
# Criando uma lista
lista_frutas = ["uva", "maça", "laranja", "abacaxi"]

# Imprimindo a lista
print(lista_frutas)
print(type(lista_frutas))

['uva', 'maça', 'laranja', 'abacaxi']
<class 'list'>

In [23]:
# Index de listas
lista = [12, True, "Universidade"]

print('Listas suportam diferentes tipos de dados')
print(type(lista[0]))
print(type(lista[1]))
print(type(lista[2]))
print('\n')

# Atribuindo cada valor da lista a uma variável.
item1 = lista[0]
item2 = lista[1]
item3 = lista[2]

# Imprimindo as variáveis
print(item1, item2, item3)

Listas suportam diferentes tipos de dados
<class 'int'>
<class 'bool'>
<class 'str'>


12 True Universidade

In [27]:
# Atualizando uma lista
print(lista_frutas[2])

lista_frutas[2] = 'Banana'

print(lista_frutas[2])

laranja
Banana

In [28]:
# Eliminando itens das listas
del lista_frutas[2]

print(lista_frutas)

['uva', 'maça', 'abacaxi']

### Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [32]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
print(type(listas))
print(type(listas[0]))
print(type(listas[0][1]))

<class 'list'>
<class 'list'>
<class 'int'>

### Concatenando listas

In [33]:
lista_s1 = [34, 32, 56]
lista_s2 = [21, 90, 51]

In [35]:
# Concatenando listas
lista_s3 = lista_s1 + lista_s2
print(lista_s3)

[34, 32, 56, 21, 90, 51]

In [37]:
#Operador in

# Verificando se o valor 32 pertence a lista
print(32 in lista_s3)
print(31 in lista_s3)

True
False

In [38]:
# Funções Built-in
print(len(lista_s3))
max(lista_teste_op)
min(lista_teste_op)

6

In [49]:
#Adicionar um item a uma lista
lista_nomes = ['João', 'Maria', 'José']
print(lista_nomes)
lista_nomes.append('Ana')
lista_nomes.append('Ana')
print(lista_nomes)
print(lista_nomes.count("Ana"))

['João', 'Maria', 'José']
['João', 'Maria', 'José', 'Ana', 'Ana']
2

In [50]:
# Ampliando uma lista:
lista_nomes.extend(['Marcos','Marcela'])
print(lista_nomes)

print(lista_nomes.index('Marcos'))

['João', 'Maria', 'José', 'Ana', 'Ana', 'Marcos', 'Marcela']
5

In [52]:
lista_nomes.insert(2,'Larissa')
print(lista_nomes)

['João', 'Maria', 'Larissa', 'José', 'Ana', 'Ana', 'Marcos', 'Marcela']

In [60]:
# Inverter a lista
lista_nomes.reverse()
print(lista_nomes)

['Marcela', 'Marcos', 'Ana', 'Ana', 'José', 'Larissa', 'Maria', 'João']

In [62]:
# Ordenação da lista
lista_nomes.sort()
print(lista_nomes)

['Ana', 'Ana', 'José', 'João', 'Larissa', 'Marcela', 'Marcos', 'Maria']

<h3><a id="dicionarios" class="anchor">1.7 - Dicionários</a></h3>

In [66]:
# Lista
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]  
print(estudantes_lst)

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [67]:
# Dicionário
estudantes_dict = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
print(estudantes_dict)

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [68]:
# Index de dicionários
estudantes_dict["Mateus"]

24

In [71]:
# Criando um novo item em dicionários
estudantes_dict["Pedro"] = 23
print(estudantes_dict)

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 23}

In [72]:
# Limpando o dicionários
estudantes_dict.clear()
estudantes_dict

{}

In [73]:
# Eliminando um dicionários
del estudantes_dict

In [74]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [76]:
# Número de itens de um dicionários
estudantes = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
len(estudantes)

4

In [80]:
print(estudantes.keys()) # Chaves
print(estudantes.values()) # Valores
print(estudantes.items()) # Itens

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])
dict_values([24, 22, 26, 25])
dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [81]:
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}
estudantes.update(estudantes2)
print(estudantes.items())

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25), ('Maria', 27), ('Erika', 28), ('Milton', 26)])

In [82]:
# Criando um dicionários em branco:
dict1 = {}
dict1['Chave1'] = 100
print(dict1)

{'Chave1': 100}

In [84]:
dict1[10] = 5
dict1[8.2] = "Python"
dict1[True] = True
dict1

{'Chave1': 100, 10: 5, 8.2: 'Python', True: True}

In [85]:
# Atribuição de itens do dicionário
a = estudantes['Mateus']
b = estudantes['Fernanda']
c = estudantes['Tamires']

print(a)
print(b)
print(c)

24
22
26

In [86]:
# Dicionário de listas
dict3 = {'key1':1230,'key2':[22,453,73.4],'key3':['leite','maça','batata']}

In [87]:
dict3['key2']

[22, 453, 73.4]

In [88]:
# Acessando um item da lista, dentro do dicionário
dict3['key3'][0].upper()

'LEITE'

<h3><a id="tuplas" class="anchor">1.8 - Tuplas</a></h3>

In [92]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")
tupla1

('Geografia', 23, 'Elefantes')

In [93]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [94]:
# Tuplas não suportam delete de um item específico
del tupla1["Gatos"]

TypeError: 'tuple' object does not support item deletion

In [95]:
tupla1[0]

'Geografia'

In [96]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [100]:
lista1 = list(tupla1)
lista1.append('Gatos')
lista1

['Geografia', 23, 'Elefantes', 'Gatos']

In [99]:
tupla2 = tuple(lista1)
tupla2

('Geografia', 23, 'Elefantes', 'Gatos')

<h3><a id="resumo" class="anchor">1.9 - Resumo</a></h3>

## Lições Aprendidas
***

    * Python é case sentitive, portanto Variavel != variavel;
    * Por convenção não podemos criar variáveis iniciadas com números ou simbolos;
    * Não podemos também declarar variáveis com os nomes reservados - ex(continue, True, list);
    * Função help() ajudá a entender o funcionamento de uma função ou método;
    * Listas são objetos que podem armazenar diferente tipos de informações;
    * Dicionários são objetos que armazenam informações diferentes no formato Chave-Valor;
    * Tuplas armazem diferentes tipos de informações, porém são imutáveis;

<h3><a id="exercicios" class="anchor">1.10 - Exercícios</a></h3>

### Hora de praticar!!!!

Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [10]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in num:
    print(n)

1
2
3
4
5
6
7
8
9
10

Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função 
count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

Exercício 5 - Crie um dicionário vazio e imprima na tela

Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos imprima o dicionário na tela.

Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float.Imprima a lista na tela.

Exercício 10 - Considere a string 'Luza Rocelina, a namorada do manuel, leu na moda da romana: Anil é cor azul'. 
<p>a) Imprima na tela apenas os caracteres da posição 1 a 24;</p>
<p>b) Imprima na tela apenas os caracteres da posição 26 em diante;</p>
<p>c) Imprima na tela apenas os caracteres nas posições impares da string;</p>
<p>d) Imprima na tela a string completa invertida;</p>
<p>e) Converta toda a string para maiúsculo.</p>

<h2><a id="func_condicoes" class="anchor">2 - Funções, Condições, Módulos e Pacotes</a></h2>

<h2><a id="numpy_pandas" class="anchor">3 - Numpy e Pandas</a></h2>

<h2><a id="eda" class="anchor">4 - EDA - Exploration Data Analysis</a></h2>

<h2><a id="ml" class="anchor">5 - Modelos de Machine Learning</a></h2>

<h2><a id="kaggle" class="anchor">6 - Desafio Kaggle</a></h2>